@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* bg-neutral-800 */
  --foreground-rgb: 38, 38, 38;
  /* bg-white */
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* bg-neutral-200 */
    --foreground-rgb: 229, 229, 229;
    /* bg-neutral-950 */
    --background-rgb: 10, 10, 10;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer components {
  /* fonts */
  h1 {
    @apply my-2 text-6xl font-extrabold;
  }
  h2 {
    @apply mb-8 text-4xl font-semibold;
  }
  p {
    @apply font-extralight;
  }

  .hover-links {
    @apply hover:text-teal-500 transition duration-300 ease-in-out;
  }

  /* grids */
  .items-grid {
    @apply gap-4
    grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3;
  }
  .items-card {
    @apply my-4 py-2 px-4 rounded-lg
    border border-neutral-200 dark:border-neutral-800
    hover:bg-neutral-100 dark:hover:bg-neutral-900 hover:scale-105 transition duration-300 ease-in-out;
  }

  /* custom */
  .custom-gradient {
    @apply bg-gradient-to-r from-teal-400 via-sky-800 to-blue-700
    bg-clip-text text-transparent;
  }
  .custom-button {
    @apply py-2 px-4 rounded-xl
    font-semibold bg-neutral-800 text-neutral-100 
    hover:bg-neutral-500 hover:text-neutral-900 transition duration-300 ease-in-out;
  }
}
