@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 28, 50;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  h1 {
    @apply text-6xl font-extrabold
  }
  h2 {
    @apply text-4xl font-bold text-gray-200
  }
  p {
    @apply text-gray-300
  }
  .custom-gradient {
    @apply bg-gradient-to-r from-teal-400 via-sky-800 to-blue-700 bg-clip-text text-transparent
  }
}

