@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* bg-neutral-800 */
  --foreground-rgb: 38, 38, 38;
  /* bg-white */
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* bg-neutral-300 */
    --foreground-rgb: 212, 212, 212;
    /* bg-neutral-950 */
    --background-rgb: 10, 10, 10;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer components {
  /* fonts */
  h1 {
    @apply my-2 text-6xl font-extrabold leading-tight;
  }
  h2 {
    @apply my-10 text-2xl font-semibold;
  }
  h3 {
    @apply text-lg font-semibold;
  }
  p {
    @apply font-extralight leading-relaxed;
  }
  .roboto-mono-500 {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  .hover-links {
    @apply hover:text-neutral-400 dark:hover:text-neutral-500 transition duration-300 ease-in-out;
  }
  .items-grid {
    @apply gap-4 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3;
  }
  .items-card {
    @apply py-2 px-4 rounded-lg
    border border-neutral-200 dark:border-neutral-800;
  }
  .items-card-hover {
    @apply hover:bg-neutral-100 dark:hover:bg-neutral-900 transition duration-300 ease-in-out;
  }
  .tags-flexbox {
    @apply flex flex-wrap justify-start gap-2 my-2;
  }
  .tags {
    @apply py-1 px-2 rounded-md roboto-mono-500 text-xs
    border border-neutral-200 dark:border-neutral-800
    bg-white dark:bg-neutral-950 text-neutral-600 dark:text-neutral-400;
  }
  .date {
    @apply font-extralight text-neutral-500 dark:text-neutral-400;
  }
  .custom-button {
    @apply py-1 px-2 my-4 rounded-md 
    bg-neutral-200 dark:bg-neutral-800 hover:bg-neutral-300 dark:hover:bg-neutral-700 
    transition duration-300 ease-in-out;
  }
  .content-panel {
    @apply max-w-2xl mx-auto;
  }
  .markdown-text {
    @apply prose prose-neutral prose-headings:font-medium 
    dark:text-neutral-300 dark:prose-headings:text-neutral-300 dark:prose-strong:text-neutral-300;
  }
}
